Repository globocom/secDevLabs, pull requests merged in 2019-08, with the labels that each got.

#262 Update Docs
  docs/CONTRIBUTING.md
  docs/Makefile
  docs/check-init.sh
Labels: docs 📖

#263 Update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/custom.md
Labels: enhancement 🚀

#264 Update feature request template
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: docs 📖, enhancement 🚀

#265 Remove unused templates
  docs/Issue_Template.md
  docs/PR_Template.md
Labels: docs 📖

#267 Add links to docker guides
  docs/CONTRIBUTING.md
Labels: docs 📖

#268 Add mitigation solution PR template
  .github/PULL_REQUEST_TEMPLATE/mitigation-solution.md
Labels: docs 📖, enhancement 🚀

#269 Fix broken image in the README template
  docs/README_Template.md
Labels: docs 📖, fix 🔧
