Repository globocom/secDevLabs, pull requests merged in 2019-05, with the labels that each got.

#227 Update README with new A6 app
  README.md
Labels: A6-OWASP-2017, docs 📖, enhancement 🚀

#233 [FEAT] Add verbose response to successful login route
  owasp-top10-2017-apps/a2/saidajaula-monster/app/app.py
Labels: A2-OWASP-2017, Saidajaula Monster Fit

#232 Update A4 - ViniJR Blog's README
  owasp-top10-2017-apps/a4/vinijr-blog/README.md
  owasp-top10-2017-apps/a4/vinijr-blog/docs/ATTACK.md
  owasp-top10-2017-apps/a4/vinijr-blog/images/attack-1.png
  owasp-top10-2017-apps/a4/vinijr-blog/images/attack-2.png
  owasp-top10-2017-apps/a4/vinijr-blog/images/attack-3.png
  owasp-top10-2017-apps/a4/vinijr-blog/images/attack-4.png
Labels: A4-OWASP-2017, ViniJr Blog, docs 📖

#229 Update A2 - Saidajaula Monster Fit- Readme
  owasp-top10-2017-apps/a2/saidajaula-monster/README.md
  owasp-top10-2017-apps/a2/saidajaula-monster/docs/ATTACK.md
  owasp-top10-2017-apps/a2/saidajaula-monster/images/attack1.png
  owasp-top10-2017-apps/a2/saidajaula-monster/images/attack2.png
  owasp-top10-2017-apps/a2/saidajaula-monster/images/attack3.png
  owasp-top10-2017-apps/a2/saidajaula-monster/images/attack4.png
  owasp-top10-2017-apps/a2/saidajaula-monster/images/attack5.png
  owasp-top10-2017-apps/a2/saidajaula-monster/images/attack6.png
  owasp-top10-2017-apps/a2/saidajaula-monster/images/attack7.png
  owasp-top10-2017-apps/a2/saidajaula-monster/images/attack8.png
Labels: A2-OWASP-2017, Saidajaula Monster Fit, docs 📖

#230 Update A2 - Insecure Go Project Readme
  owasp-top10-2017-apps/a2/insecure-go-project/README.md
  owasp-top10-2017-apps/a2/insecure-go-project/docs/ATTACK.md
  owasp-top10-2017-apps/a2/insecure-go-project/images/attack-1.png
  owasp-top10-2017-apps/a2/insecure-go-project/images/attack-2.png
  owasp-top10-2017-apps/a2/insecure-go-project/images/attack-3.png
Labels: A2-OWASP-2017, Insecure Go project, docs 📖

#231 Update A3 - Snake Pro's Readme
  owasp-top10-2017-apps/a3/snake-pro/README.md
  owasp-top10-2017-apps/a3/snake-pro/images/attack1.png
  owasp-top10-2017-apps/a3/snake-pro/images/attack2.png
  owasp-top10-2017-apps/a3/snake-pro/images/attack3.png
  owasp-top10-2017-apps/a3/snake-pro/images/attack4.png
  owasp-top10-2017-apps/a3/snake-pro/images/attack5.png
Labels: A3-OWASP-2017, SnakePro, docs 📖

#234 Update A5 - Ecommerce API README
  owasp-top10-2017-apps/a5/ecommerce-api/README.md
  owasp-top10-2017-apps/a5/ecommerce-api/docs/ATTACK.md
  owasp-top10-2017-apps/a5/ecommerce-api/images/attack0.png
  owasp-top10-2017-apps/a5/ecommerce-api/images/attack1.png
  owasp-top10-2017-apps/a5/ecommerce-api/images/attack2.png
  owasp-top10-2017-apps/a5/ecommerce-api/images/attack3.png
  owasp-top10-2017-apps/a5/ecommerce-api/images/attack4.png
Labels: A5-OWASP-2017, Vulnerable Ecommerce API, docs 📖

#241 [DOCS] Fix Objectives link A2
  owasp-top10-2017-apps/a2/saidajaula-monster/README.md
Labels: A2-OWASP-2017, Saidajaula Monster Fit, docs 📖

#243 [DOCS] Fix Objectives link A2
  owasp-top10-2017-apps/a2/insecure-go-project/README.md
Labels: A2-OWASP-2017, Insecure Go project, docs 📖

#244 [DOCS] Fix Objectives link A4
  owasp-top10-2017-apps/a4/vinijr-blog/README.md
Labels: A4-OWASP-2017, ViniJr Blog, docs 📖

#245 [DOCS] Fix Objectives link A5
  owasp-top10-2017-apps/a5/ecommerce-api/README.md
Labels: A5-OWASP-2017, Vulnerable Ecommerce API, docs 📖

#248 Update README template
  docs/Attack_Narrative_Template.md
  docs/CONTRIBUTING.md
  docs/README_Template.md
Labels: docs 📖

#240 Update A10 - Games Irados README
  owasp-top10-2017-apps/a10/games-irados/README.md
  owasp-top10-2017-apps/a10/games-irados/docs/ATTACK.md
  owasp-top10-2017-apps/a10/games-irados/images/attack1.png
  owasp-top10-2017-apps/a10/games-irados/images/attack10.png
  owasp-top10-2017-apps/a10/games-irados/images/attack11.png
  owasp-top10-2017-apps/a10/games-irados/images/attack2.png
  owasp-top10-2017-apps/a10/games-irados/images/attack3.png
  owasp-top10-2017-apps/a10/games-irados/images/attack4.png
  owasp-top10-2017-apps/a10/games-irados/images/attack5.png
  owasp-top10-2017-apps/a10/games-irados/images/attack6.png
  owasp-top10-2017-apps/a10/games-irados/images/attack7.png
  owasp-top10-2017-apps/a10/games-irados/images/attack8.png
  owasp-top10-2017-apps/a10/games-irados/images/attack9.png
Labels: A10-OWASP-2017, GamesIrados.com, docs 📖

#238 Update A8 - Amarelo Designs README
  owasp-top10-2017-apps/a8/amarelo-designs/README.md
  owasp-top10-2017-apps/a8/amarelo-designs/docs/ATTACK.md
  owasp-top10-2017-apps/a8/amarelo-designs/images/attack1.png
  owasp-top10-2017-apps/a8/amarelo-designs/images/attack10.png
  owasp-top10-2017-apps/a8/amarelo-designs/images/attack11.png
  owasp-top10-2017-apps/a8/amarelo-designs/images/attack2.png
  owasp-top10-2017-apps/a8/amarelo-designs/images/attack3.png
  owasp-top10-2017-apps/a8/amarelo-designs/images/attack4.png
  owasp-top10-2017-apps/a8/amarelo-designs/images/attack5.png
  owasp-top10-2017-apps/a8/amarelo-designs/images/attack6.png
  owasp-top10-2017-apps/a8/amarelo-designs/images/attack7.png
  owasp-top10-2017-apps/a8/amarelo-designs/images/attack8.png
  owasp-top10-2017-apps/a8/amarelo-designs/images/attack9.png
Labels: A8-OWASP-2017, Amarelo Designs, docs 📖

#237 Update A7 - Gossip World README
  owasp-top10-2017-apps/a7/gossip-world/README.md
  owasp-top10-2017-apps/a7/gossip-world/docs/ATTACK.md
  owasp-top10-2017-apps/a7/gossip-world/images/attack-1.png
  owasp-top10-2017-apps/a7/gossip-world/images/attack-2.png
  owasp-top10-2017-apps/a7/gossip-world/images/attack-3.png
  owasp-top10-2017-apps/a7/gossip-world/images/attack-4.png
  owasp-top10-2017-apps/a7/gossip-world/images/attack-5.png
  owasp-top10-2017-apps/a7/gossip-world/images/attack-6.png
  owasp-top10-2017-apps/a7/gossip-world/images/attack-7.png
  owasp-top10-2017-apps/a7/gossip-world/images/attack-8.png
  owasp-top10-2017-apps/a7/gossip-world/images/attack-9.png
Labels: A7-OWASP-2017, Gossip World, docs 📖

#236 Update A6 - Misconfigured Wordpress README
  owasp-top10-2017-apps/a6/misconfig-wordpress/README.md
  owasp-top10-2017-apps/a6/misconfig-wordpress/docs/ATTACK.md
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack.png
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack1.png
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack10.png
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack11.png
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack12.png
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack13.png
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack2.png
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack3.1.png
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack3.png
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack4.png
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack5.png
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack6.png
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack7.png
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack8.png
  owasp-top10-2017-apps/a6/misconfig-wordpress/images/attack9.png
Labels: A6-OWASP-2017, Vuln Wordpress Misconfig, docs 📖

#239 Update A9 - Cimentech README
  owasp-top10-2017-apps/a9/cimentech/README.md
  owasp-top10-2017-apps/a9/cimentech/docs/ATTACK.md
  owasp-top10-2017-apps/a9/cimentech/images/attack1.png
  owasp-top10-2017-apps/a9/cimentech/images/attack2.png
  owasp-top10-2017-apps/a9/cimentech/images/attack3.png
  owasp-top10-2017-apps/a9/cimentech/images/attack4.png
  owasp-top10-2017-apps/a9/cimentech/images/attack5.png
  owasp-top10-2017-apps/a9/cimentech/images/attack6.png
  owasp-top10-2017-apps/a9/cimentech/images/attack7.png
  owasp-top10-2017-apps/a9/cimentech/images/building.jpg
Labels: A9-OWASP-2017, Cimentech, docs 📖
